<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>CustomerId</th>
      <th>Exited</th>
      <th>Exit</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>C055</td>
      <td>0</td>
      <td>No</td>
    </tr>
    <tr>
      <th>1</th>
      <td>C021</td>
      <td>1</td>
      <td>Yes</td>
    </tr>
    <tr>
      <th>2</th>
      <td>C015</td>
      <td>0</td>
      <td>No</td>
    </tr>
    <tr>
      <th>3</th>
      <td>C062</td>
      <td>1</td>
      <td>Yes</td>
    </tr>
    <tr>
      <th>4</th>
      <td>C029</td>
      <td>1</td>
      <td>Yes</td>
    </tr>
  </tbody>
</table>